$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px; // kullanıcı 40-42px genişliğinde ve büyüklüğündeli kutuya rahat tıklayabiliyor. :))
//////////////
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
//////////////
$font-family: "Open Sans", Roboto, Arial, sans-serif;

