.container {
    max-width: $max-width;
    margin-left: auto; // margin : 0 auto verseydik performans açısından daha kötü 4 tane görev vermiş oluyoruz...
    margin-right: auto;
    padding-left: $gutter;
}

a {
    color: $color-navy;
}

body {
    font-family: "Open Sans", sans-serif;
}

.button {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: $finger-size;
    color: #fff;
    font-weight: bold;
    background-color: $color-blue;
    border-radius: $border-radius;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  

  